html,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

body *::selection {
    background: #ecf0f1;
    color: #2c3e50;
}

header {
    background-color: #2c3e50;
    min-height: 300px;
}

.logo {
    float: left;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    color: #fff;
    text-decoration: none;
}

.logo a img {
    display: block;
}

.right-console {
    float: right;
    line-height: 80px;
}

.right-console a {
    padding-right: 15px;
    text-decoration: none;
    color: #1abc9c;
}

.right-console a:hover {
    color: #16a085;
}

.heading-main {
    padding: 90px 0 50px 0;
    text-align: center;
    color: #fff;
}

.header-top {
    width: 100%;
}

.tab-menu ul {
    list-style: none;
}

.tab-menu ul li {
    display: inline-block;
    padding: 15px;
}

.tab-menu ul li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.tab-menu ul li a:hover {
    border-bottom: 2px dotted #fff;
    color: #f1f1f1;
}

.tab-menu ul li a:hover i {
    border-bottom: none;
    color: #e67e22;
}

.tab-menu ul li i {
    display: block;
    color: #2ecc71;
    font-size: 35px;
    padding-bottom: 15px;
}

.content {
    background-color: #f3f3f3;
    position: relative;
}

.content:before {
    content: '';
    background-color: #2c3e50;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.wrapper-container {
    background-color: #fff;
    position: relative;
    z-index: 99;
}

h2.container-section-title {
    text-align: center;
    background: #fff;
    width: 400px;
    margin: 0 auto;
    color: #27ae60;
    padding: 30px 0;
    text-transform: uppercase;
    
}

h2.container-section-title:before {
    content: "";
    margin-top: 14px;
    position: absolute;
    z-index: -1;
    border-top: 8px double #7f8c8d;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
}